/**** SETUP ****/

html, body, img{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

*{
  font-family: 'Anton', sans-serif;
  z-index: 1;
}
/**** NAV ****/




/**** LANDING PAGE ****/
#moto{
  margin: 0;
  padding: 0 2.5%;
  text-align: center;
  margin-top: 5%;
  font-family: 'Anton', sans-serif;
  font-size: 18px;
  margin: 0;
  color: black;
  margin-top: 2%;

}

#background {

  width: 100%;
  min-height: 45%;
  background-image: url("pictures/Orange_Texture_Backround-01.png");
  z-index: 1;
  margin: 0;
  padding: 15px 0px;
  


}

#main_l {
  font-size: 30px;
}

secondary_l {
  font-size: 15px;
}

@media only screen and (max-width: 600px) {
    #background {
         background-image: url("pictures/Orange_Texture_Backround-01.png");
         background-size: cover;
    }
}

@media only screen and (max-width: 350px) {
  #main_l {
    font-size: 25px;
  }
  #secondary_l {
  font-size: 15px;
}
}

#pics {
  width: 100%;
  margin-top: -16px;
  margin-left: 0%;
  padding: 5px 0px;
  background-color: black;
  z-index: 1;
  display: block;
  
}


#main_logo{
  top: 1%;
  left: 50%;
  height: 180px;
  width: 270px;
  margin-left: -135px;
  position: relative;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0);
  margin-top: -5px;

}

.section {
  text-align: center;
  padding: 25px;
  position: relative;

}

.section-light{
  background-color: #f4f4f4; /*#6D8E61;*/
  color: black;
}

.service_icon {
  height: 150px;
  width: 150px;
  
  
}

#drop_down {
  color: black;
}